<b><h3>Python Packages:</b>

In [ ]:
%matplotlib notebook

import mysql.connector
print(mysql.connector.__version__)

import sqlalchemy

import matplotlib
import matplotlib.pyplot as plt
from matplotlib .animation import FuncAnimation
print(matplotlib.__version__)

import numpy as np

import pandas as pd
pd.DataFrame({'A': [1, 2, 3]})
print(pd.__version__)

<b>Start MySQL database connection</b>

In [ ]:
mydb = mysql.connector.connect(
  host="localhost",
  user="nauber",
  password="135086Elgom.,",
  database= "sensor"
)

mycursor = mydb.cursor()

mycursor.execute("SHOW TABLES")

for x in mycursor:
  print(x)

<b><h3>DHT Sensor<b>

In [ ]:
sql="select temperature from dht_sensor"
mycursor.execute(sql)
temperature = mycursor.fetchall()

sql="select id from dht_sensor"
mycursor.execute(sql)
time = mycursor.fetchall()

plt.plot(time, temperature)

Real time

In [ ]:
sql="select temperature from dht_sensor"
mycursor.execute(sql)
temperature = mycursor.fetchall()

sql="select id from dht_sensor"
mycursor.execute(sql)
time = mycursor.fetchall()

fig, ax = plt.subplots()
ln = ax.plot(time, temperature)

def artists():
  return ln

def update(frame):
  sql ="SELECT id FROM dht_sensor ORDER BY id DESC LIMIT 1";
  mycursor.execute(sql)
  time_fetch = mycursor.fetchall()
  time_add = time_fetch[0][0]
  time.append(time_add)
  
  sql ="SELECT temperature FROM dht_sensor ORDER BY id DESC LIMIT 1";
  mycursor.execute(sql)
  temperature_fetch = mycursor.fetchall()
  temperature_add = temperature_fetch[0][0]
  temperature.append(temperature_add)

  ln.setdata(time, temperature)
  
  plt.plot(time,temperature)
  
ani = FuncAnimation(fig, update, interval = 3000, init_func = artists(), frames=1000)

plt.show()

Receiving query simulation

In [37]:
sql = "INSERT INTO dht_sensor (temperature, humidity) VALUES (200, 30)"
mycursor.execute(sql)

mydb.commit()

<b>Query test

In [35]:
sql="SELECT temperature FROM dht_sensor ORDER BY id DESC LIMIT 1"
mycursor.execute(sql)
temperature = mycursor.fetchall()

print(temperature[0][0])

30

<b>Close cursor and connection</b>

In [ ]:
mycursor.close()
mydb.close()